.hero-container {
  background-image: url(https://static.owayo-cdn.com/newhp/img/magazin/hockeyrinks/ice-hockey-rink-670px.jpg);
  padding: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  display: block;
  position: relative;
}

.family {
    background-image: url(https://pbs.twimg.com/profile_images/871146267157688321/xO0ygP8I.jpg);
    padding: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    display: block;
    position: relative;
}


.hero-container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(192, 196, 204, 0.6);
}

.hero-content {
    color: antiquewhite;
}

.navigation {
 background-color: black;
 background-size: cover;   
}

.navigation a {
color: white;
text-decoration: none;
}

.navigation li {
    display: inline-block;
    padding: 8px;
}

body {
    background-color: black;
    margin: 10px 10px 10px 10px;
}

.home-page {
    color: black;
    z-index: 900;
    position: relative;
}

.title {
    color: black;
    z-index: 900;
    position: relative;
}

.sportsa {
    background: linear-gradient(to right,white,black);
    margin: 0;
}

.sportsa p {
    margin-left: 25px;
    margin-right: 50%;
}


