.hero-container {
  background-image: url(https://static.owayo-cdn.com/newhp/img/magazin/hockeyrinks/ice-hockey-rink-670px.jpg);
  padding: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  display: block;
  position: absolute;
}

.hero-container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(24,54,105,0.6);
}

.hero-content {
    color: antiquewhite;
}

.navigation {
 background-color: black;
 background-size: cover;   
}

.navigation a {
color: white;
text-decoration: none;
}

.navigation li {
    display: inline-block;
    padding: 8px;
}

body {
    background-color: black;
}

.home-page {
    color: black;
    z-index: 900;
}

.title {
    color: #ffffff;
    z-index: 900;
}

.title-bg {
    background-color: black;
}